*{
    padding: 0;
    margin: 0;
}

.welcome{
    border: 1px solid gray;
    border-radius: 10px;
    width: 35%;
}

.card{
    height: 50vh;
    width: 20vw;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(205, 208, 210);
}

.other-data{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.other-data h3, .other-data h4{
    align-self: center;
    padding: 10px;
}

.other-data .first{
    grid-column: 1/3;
}
